* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100vw;
  height: 100vh;
  font-size: 2rem;
  color: rgb(87, 87, 87);
  background-color: #b4b4b4;
  overflow-x: hidden;
}
main {
  max-width: 1400px;
}
section {
  margin-bottom: 8rem;
}
.btn-danger {
  background-color: #c54f31;
  outline: none;
  border: none;
}
.btn-danger:hover {
  background-color: #9e3920;
}
.btn-info {
  background-color: #546a8c;
  outline: none;
  border: none;
  color: #fff;
}
.btn-info:hover {
  background-color: #657c9e;
}
.card {
  box-shadow: 10px 0 50px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: 0.5s ease;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0, 0.5);
}
